.DS_Store
__pycache__/
venv
.venv
formosanenv
Formosan_Langs
logs
extract_logs
compare_logs
new_env
.vscode
giza-pp
tmp
QC/orthography/logs
QC/orthography/extract_logs
QC/durations.txt
QC/*.json
corpus-metrics/
corpus_metrics/
token-count-artifacts/
language_dialect_deltas.png
plot.png
**/*.wav
**/*.mp3
